<ion-header>
  <ion-toolbar>
    <ion-title class="mainTitle">
      Ready to Debug
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 500px;" >
  <ion-grid>
    <ion-row>
      <ion-col  class="center-combobox">
        <jqxComboBox 
          (onSelect)="myComboBoxOnSelect($event)"
          [width]="300"
          [height]="35"
          [placeHolder]="Search"
          [dropDownWidth]="300"
          [source]="myData"
          [displayMember]="'imei'"
        ></jqxComboBox>
      </ion-col>
      <ion-col size="3" *ngIf="showSwipeModal" class="filter1">
        <div class="filter">
          <div>
            <ion-row >
              <ion-col
                class="borderbtn lineDesign"
                [ngClass]='{"activeLetters": selectedValue === "today", "borderbtn":selectedValue !== "today"}'
                (click)="trackModal('today')"
              >
                <ion-label value="today">{{"Today"}}</ion-label>
              </ion-col>
              <ion-col
                class="borderbtn"
                [ngClass]='{"activeLetters": selectedValue === "yesterday", "borderbtn":selectedValue !== "yesterday"}'
                (click)="trackModal('yesterday')"
              >
                <ion-label value="yesterday">{{"Yesterday"}}</ion-label>
                <ion-radio class="radidisplay"></ion-radio>
              </ion-col>
            </ion-row>
          </div>

          <div> 
            <ion-row class="timerow"
                style="margin:10px 10px;padding-bottom:2px; text-align:center; border-radius:10px;">
                <ion-col size="10">
                    <ion-icon name="calendar" style="font-size:24px; float:center;"></ion-icon>
                    <ion-text style="padding-bottom: 10px;">Date Range</ion-text>
                </ion-col>
                <ion-col size="5.5" class="calendinput">
                    <ion-input type="datetime-local" format="YYYY-MM-DDTHH:mm" [(ngModel)]='user.fromDate'
                        (click)="trackModal('from')" class="ion-no-padding" style=" width: 129px;
                        padding: 6px !important;
                        border-radius: 7px;
                        font-size: 11px;
                        margin-left: -5px;background-color: white;
                        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
                    </ion-input>
                </ion-col>
                <ion-col size="5.5" class="calendinput">
                    <ion-input type="datetime-local" [(ngModel)]='user.toDate' (click)="trackModal('to')"
                        class="ion-no-padding" style=" width: 129px;
                    padding: 6px !important;
                    border-radius: 7px;
                    font-size: 11px;
                   background-color: white;
                    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);"></ion-input>
                </ion-col>

            </ion-row>
          </div>
          
          <div>
            <ion-row style="justify-content: center;">
              <ion-button color="primary" shape="round" (click)="OnShow()">
                Show Rawdata
              </ion-button>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card *ngIf="viewCard">
          <ion-card-header>RawData for {{ selectedItem.value }}</ion-card-header>
          <ion-card-content>
            <ng-container *ngIf="rawDataList.length > 0; else noRecords">
              <ion-list>
                <ion-item *ngFor="let timestamp of entryTime; let i = index;">
                  <ion-card>
                    <ion-card-header>
                      {{ timestamp }}
                    </ion-card-header>
                    <ion-card-content>
                      {{ rawDataList[i] }}
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </ion-list>
            </ng-container>
            <ng-template #noRecords>
              <p>No records found</p>
            </ng-template>  
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="viewCard" ion-button icon-only class="scroll-top" (click)="scrollTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button>
</ion-content>